.accordeon-ul .accordeon-li i:before,
.accordeon-ul .accordeon-li i:after,
.projekt-inhalt {
  transition: all 0.25s ease-in-out;
}

.accordeon-ul .accordeon-li,
h4 {
  animation: flipdown 1s ease both;
}

.projekt-text {
  z-index: 2;
}

.accordeon-ul {
  list-style: none;
  padding: 0;
}

.accordeon-ul .accordeon-li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px dotted #dce7eb;
}
.accordeon-ul .accordeon-li :nth-of-type(1) {
  animation-delay: 0.2s;
}
.accordeon-ul .accordeon-li:nth-of-type(2) {
  animation-delay: 0.3s;
}
.accordeon-ul .accordeon-li:nth-of-type(3) {
  animation-delay: 0.4s;
}
.accordeon-ul .accordeon-li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.accordeon-ul .accordeon-li:nth-of-type(5) {
  animation-delay: 0.7s;
}
.accordeon-ul .accordeon-li:nth-of-type(6) {
  animation-delay: 0.8s;
}
.accordeon-ul .accordeon-li:last-of-type {
  padding-bottom: 0;
}
.accordeon-ul .accordeon-li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.accordeon-ul .accordeon-li i:before,
.accordeon-ul .accordeon-li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
.accordeon-ul .accordeon-li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordeon-ul .accordeon-li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.accordeon-ul .accordeon-li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 80%;
  z-index: 1;
  opacity: 0;
}
.accordeon-ul .accordeon-li input[type="checkbox"]:checked ~ .projekt-inhalt {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.accordeon-ul .accordeon-li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.accordeon-ul .accordeon-li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

@media (max-width: 990px) {
  .accordeon-ul,
  .accordeon-li {
    padding: 0;
    margin: 0;
  }
}
