header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 4rem;
}
#avatar {
  height: 70px;
}
#avatar img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}
.header-icons {
  list-style: none;
  display: flex;
  font-size: 2.5rem;
  gap: 20px;
  color: inherit;
  text-decoration: none;
}
@media (max-width: 990px) {
  #avatar img {
    width: 75px;
  }
}
