@import url("css/header.css");
@import url("css/icon-list.css");
@import url("css/main-layout.css");
@import url("css/background.css");

body {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 106%;
  color: antiquewhite;
}

h1 {
  color: #777575;
  text-align: center;
}
