body {
  background: #3c1919;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 106%;
}
header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#avatar {
  height: 70px;
}
#avatar img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}
.header-icons {
  list-style: none;
  display: flex;
  font-size: 2.5rem;
  gap: 20px;
}

.main-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  margin: 0 1rem;
}

.content {
  background-color: #ff6600;
  grid-column: span 2;
}
.hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 0.3s ease;
}
.visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease, transform 0.3s ease;
}

.menu {
  background-color: aqua;
}

h1 {
  color: #777575;
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #838383;
  font-weight: bold;
  transition: background ease 0.6s;
}
.tabs .tab {
  order: 99;
  width: 100%;
  display: none;
  padding: 2rem;
  background: #ffffff;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"] + label {
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 990px) {
  header {
    padding: 0 4rem;
  }
  .menu {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .tabs .tab,
  .tabs label {
    order: initial;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }

  .tabs input[type="radio"] + label {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
  }
  .tabs input[type="radio"]:checked + label {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.icon-list i {
  font-size: 8rem;
  margin: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-list i:hover {
  color: #ff6600;
}
